#defined-body{
  background-color: #ecf0f1;
}

.defined-item:hover{
  background-color: #b71540;
}

#defined-descr{
  text-align: center;
}

#defined-content{
  padding-top: 5%;
  height: 85%;
  overflow: scroll;
}
/*
#defined-form-container{
  padding: 60px;
}

#defined-form{
  width: 100%;
}
*/

#footer-text{
  margin-bottom: 0;
  padding-left: 36%;
}
