#defined-body{
  background-color: #ecf0f1;
}

#defined-item:hover{
  background-color: #b71540;
}

#defined-descr{
  text-align: center;
}

#defined-content{
 height: 85%;
 overflow: scroll;
}

#footer-text{
  margin-bottom: 0;
  padding-left: 36%;
}
