#defined-body{
  background-color: #ecf0f1;
}

#defined-content{
  min-height: 70%;
  min-height: -webkit-calc(100% - 186px);
  min-height: -moz-calc(100% - 186px);
  min-height: calc(100% - 186px);
  padding-bottom: 7%;
  padding-top: 3%;
}

#footer-text{
  margin-bottom: 0;
  padding-left: 36%;
}
