{% extends "layout.html" %}
{% block content %}

<div id="defined-content">
  <div class="ui main text container segment">
    <h1 class="ui horizontal divider header">
      Business
    </h1>
      <p id="defined-descr">All Business Expenses</p>
        <table class="ui celled table">
          <thead>
            <tr>
              <th>Date</th>
              <th>Expenses</th>
            </tr>
          </thead>
          <tbody>
            {% for row in rows %}
            <tr>
              <td data-label="Date">{{row[0]}}</td>
              <td data-label="Expenses">{{row[1]}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
  </div>
</div>
{% endblock %}
