<!DOCTYPE html>
<html>
    <head>
        <title>KudiTracker</title>
        <link rel='stylesheet' type='text/css' href="{{url_for('static',filename='css/main.css')}}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
    </head>
    <body id="defined-body">
        <div class="ui static inverted menu">
          <div class="ui container">
            <div class="header item"><i class="calculator icon"></i>KudiTracker</div>
            <div id="defined-item"><a href="/" class="item">Home</a></div>
            <div id="defined-item"><a href="/business" class="item defined-item">Business</a></div>
            <div id="defined-item"><a href="/personal" class="item defined-item">Personal</a></div>
          </div>
        </div>

        {% block content %}
        {% endblock %}
      <div id="defined-footer">
        <div class="ui inverted footer segment">
          <div class="ui container">
                <p id="footer-text">kuditracker 2018. All Rights Reserved</p>
          </div>
        </div>
      </div>
    </body>
</html>
