{% extends "layout.html" %}
{% block content %}

<div id="defined-content">
  <div class="ui main text container segment">
    <h1 class="ui horizontal divider header">
      Personal
    </h1>
      <p id="defined-descr">All Personal Expenses</p>
            <table class="ui celled table">
            <thead>
              <tr><th>Date</th>
              <th>Expenses</th>
            </tr></thead>
            <tbody class="defined-tbody">
              <tr>
                <td data-label="Date">02-03-18</td>
                <td data-label="Expenses">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
              </tr>
              <tr>
                <td data-label="Date">01-10-18</td>
                <td data-label="Expenses"> Phasellus tincidunt arcu a turpis suscipit ullamcorper.</td>
              </tr>
              <tr>
                <td data-label="Date">31-09-18</td>
                <td data-label="Expenses">Proin dignissim sodales odio, vel ullamcorper magna tempor ut. Nulla</td>
              </tr>
              <tr>
                <td data-label="Date">02-03-18</td>
                <td data-label="Expenses">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
              </tr>
              <tr>
                <td data-label="Date">02-03-18</td>
                <td data-label="Expenses">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
              </tr>
              <tr>
                <td data-label="Date">02-03-18</td>
                <td data-label="Expenses">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
              </tr>
              <tr>
                <td data-label="Date">02-03-18</td>
                <td data-label="Expenses">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
              </tr>
              <tr>
                <td data-label="Date">02-03-18</td>
                <td data-label="Expenses">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
              </tr>
              <tr>
                <td data-label="Date">02-03-18</td>
                <td data-label="Expenses">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
              </tr>
              <tr>
                <td data-label="Date">02-03-18</td>
                <td data-label="Expenses">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
              </tr>
              <tr>
                <td data-label="Date">02-03-18</td>
                <td data-label="Expenses">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
              </tr>
              <tr>
                <td data-label="Date">02-03-18</td>
                <td data-label="Expenses">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
              </tr>

            </tbody>
          </table>
  </div>
</div>
{% endblock %}
